<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ripen_Prophet21" setup_version="1.5.0">
        <sequence>
            <module name="Magento_CatalogInventory"/>
            <module name="Magento_Quote"/>
        </sequence>
    </module>
</config>
